<div class="text-center m-3">
    <image src="./img/Chanh-logo.png" class="img-fluid" style="max-height: 90px">
    </image>
</div>
<div class="p-5">
    <form class="user">
        <div class="form-group">
            <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                aria-describedby="emailHelp" placeholder="Nhập tên cửa hàng" />
        </div>
        <div class="form-group">
            <input type="password" class="form-control form-control-user" id="exampleInputPassword"
                placeholder="Số điện thoại" />
        </div>
        <div class="form-group">
            <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                aria-describedby="emailHelp" placeholder="Số lượng đơn hàng mỗi tháng" />
        </div>
        <div class="form-group">
            <!-- <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                aria-describedby="emailHelp" placeholder="Kênh bán hàng" /> -->
            <select class="form-control custom-select form-control-user">
                <option selected>Kênh bán hàng</option>
            </select>
        </div>
        <div class="form-group">
            <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                aria-describedby="emailHelp" placeholder="Ngành hàng" />
        </div>
        <div class="form-group row">
            <div class="col">
                <input type="password" class="form-control form-control-user" placeholder="Mật khẩu" />
            </div>
            <div class="col">
                <input type="password" class="form-control form-control-user" placeholder="Xác nhận mật khẩu" />
            </div>
        </div>

        <a href="/dang-nhap.html" class="btn btn-primary btn-user btn-block">
            Đăng Ký
        </a>
    </form>
</div>