<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content" style="font-size: 0.875rem">
            <div class="modal-header">
                <div class="d-flex justify-content-md-between w-100">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked />
                        <label class="form-check-label" for="flexCheckChecked">
                            Chọn tất cả
                        </label>
                    </div>
                    <a href=" " class="small font-italic text-warning border-primary d-flex align-items-center"
                        data-toggle="modal" data-target="#exampleModalCenter">
                        Đặt lại bộ lộc
                        <i class=" fa fa-undo ml-2"></i>
                    </a>
                </div>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <h6 class="mb-0 font-weight-bold">
                                <i class="fas fa-box mr-2"></i> Trạng thái chung
                            </h6>
                            <hr class="my-1" />
                            <ul class="list-unstyled" id="listStatus"></ul>
                        </div>
                        <div class="col-md-3">
                            <h6 class="mb-0 font-weight-bold">
                                <i class="fas fa-money-bill-wave mr-2"></i> Tiền giao hàng
                            </h6>
                            <hr class="my-1" />
                            <ul class="list-unstyled" id="listMoney"></ul>
                        </div>
                        <div class="col-md-3">
                            <h6 class="mb-0 font-weight-bold">
                                <i class="fas fa-car-side mr-2"></i> Xe trung chuyển
                            </h6>
                            <hr class="my-1" />
                            <ul class="list-unstyled" id="listCar"></ul>
                        </div>
                        <div class="col-md-3">
                            <h6 class="mb-0 font-weight-bold">
                                <i class="fas fa-globe mr-2"></i> Quốc tế
                            </h6>
                            <hr class="my-1" />
                            <ul class="list-unstyled" id="listInteral"></ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger small btn-sm" data-dismiss="modal">
                    Hủy
                </button>
                <button type="button" class="btn btn-success small btn-sm">
                    Áp dụng
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    const listInteral = document.getElementById("listInteral");
    const International = [
        {
            id: "",
            name: "Đã đến bưu cục gốc",
        },
        {
            id: "",
            name: "Qua biên giới",
        },
        {
            id: "",
            name: "Đã xóa thông quan",
        },
        {
            id: "",
            name: "Tổ chức hải quan",
        },
    ];

    let htmlInteral = "";
    International.map(({ id, name }, i) => {
        htmlInteral += `
            <li key=${i}>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="${id}"
                        checked>
                    <label class="form-check-label" for="flexCheckChecked">
                        ${name}
                    </label>
                </div>
            </li>`;
        return (listInteral.innerHTML = htmlInteral);
    });

    const listCar = document.getElementById("listCar");
    const Car = [
        {
            id: "",
            name: "Đang chờ lấy hàng tại điểm phân phối",
        },
        {
            id: "",
            name: "Đã đến điểm phân phối",
        },
    ];

    let htmlCar = "";
    Car.map(({ id, name }, i) => {
        htmlCar += `
            <li key=${i}>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="${id}"
                        checked>
                    <label class="form-check-label" for="flexCheckChecked">
                        ${name}
                    </label>
                </div>
            </li>`;
        return (listCar.innerHTML = htmlCar);
    });

    const listMoney = document.getElementById("listMoney");
    const Money = [
        {
            id: "",
            name: "Bưu kiện có thu tiền hộ",
        },
        {
            id: "",
            name: "Bưu kiện không tiền thu hộ",
        },
    ];

    let htmlMoney = "";
    Money.map(({ id, name }, i) => {
        htmlMoney += `
            <li key=${i}>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="${id}"
                        checked>
                    <label class="form-check-label" for="flexCheckChecked">
                        ${name}
                    </label>
                </div>
            </li>`;
        return (listMoney.innerHTML = htmlMoney);
    });

    const listStatus = document.getElementById("listStatus");
    const Status = [
        {
            id: "",
            name: "Đã hủy",
        },
        {
            id: "",
            name: "Đang chờ lấy hàng",
        },
        {
            id: "",
            name: "Ninja Van đến lấy hàng",
        },
        {
            id: "",
            name: "Đến khu phân loại hàng",
        },
        {
            id: "",
            name: "Lấy hàng thất bại",
        },
        {
            id: "",
            name: "Đến nơi sắp xếp hàng",
        },
        {
            id: "",
            name: "Giữ lại",
        },
        {
            id: "",
            name: "Trên xe để giao hàng",
        },
        {
            id: "",
            name: "Đang chờ lên lịch lại",
        },
        {
            id: "",
            name: "Chuyển sang 3PL",
        },
        {
            id: "",
            name: "Trả lại cho người gửi",
        },
        {
            id: "",
            name: "Đã hoàn thành",
        },
    ];

    let htmlStatus = "";
    Status.map(({ id, name }, i) => {
        htmlStatus += `
            <li key=${i}>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="${id}"
                        checked>
                    <label class="form-check-label" for="flexCheckChecked">
                        ${name}
                    </label>
                </div>
            </li>`;
        return (listStatus.innerHTML = htmlStatus);
    });
</script>