<section>
    <div class="card">
        <div class="card-header">
            <h3 class="heading">Thực hiện các bước tạo đơn hàng</h3>
            <p class="font-italic text-warning">
                Điền vào tất cả trường biểu mẫu để chuyển sang bước tiếp theo
            </p>
        </div>
        <div class="card-body">
            <div class="stepwizard w-100 d-flex flex-column position-relative">
                <ul class="stepwizard-row setup-panel list-inline">
                    <li class="stepwizard-step list-inline-item">
                        <a href="#step-1" type="button" class="btn btn-success btn-circle">
                            <i class=" fa fa-2x fas fa-map-marked"></i> </a>
                        <p><small>Địa điểm lấy hàng</small></p>
                    </li>
                    <li class="stepwizard-step list-inline-item">
                        <a href="#step-2" type="button" class="btn btn-info btn-circle" disabled="disabled">
                            <i class="fa fa-2x fa-user-alt"></i>
                        </a>
                        <p><small>Thồng tin người nhận</small></p>
                    </li>
                    <li class="stepwizard-step list-inline-item">
                        <a href="#step-3" type="button" class="btn btn-info btn-circle" disabled="disabled">3</a>
                        <p><small>Schedule</small></p>
                    </li>
                    <li class="stepwizard-step list-inline-item">
                        <a href="#step-4" type="button" class="btn btn-info btn-circle" disabled="disabled">4</a>
                        <p><small>Cargo</small></p>
                    </li>
                </ul>
            </div>

            <form role="form" style="font-size: 0.875rem" class=" d-flex justify-content-center">
                <div class=" card setup-content w-75" id="step-1">
                    <div class="card-header bg-transparent">
                        <h5 class=" card-title m-0">Địa điểm lấy hàng</h5>
                    </div>
                    <div class=" card-body">
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label class="control-label text-uppercase font-weight-bold d-flex align-items-center">
                                    <i style="width: 28px;" class="fa fa-truck mr-3 fa-2x"></i>
                                    <span>Loại:</span>
                                </label>
                            </div>
                            <div class="col-lg-9 input-group">
                                <select class="custom-select" required>
                                    <option selected>Chọn kiểu lấy hàng</option>
                                    <option>một</option>
                                    <option>hai</option>
                                </select>

                                <!-- <div class="valid-feedback">Phù hợp !</div> -->
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label class="control-label text-uppercase font-weight-bold d-flex align-items-center">
                                    <i class="fa fas fa-location-arrow mr-3 fa-2x"></i>
                                    <span>Địa chỉ:</span>
                                </label>
                            </div>
                            <div class="col-lg-9 input-group">
                                <select class="custom-select" required>
                                    <option selected>Chọn địa chỉ</option>
                                    <option>một</option>
                                    <option>hai</option>
                                </select>

                                <!-- <div class="valid-feedback">Phù hợp !</div> -->
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label class="control-label text-uppercase font-weight-bold d-flex align-items-center">
                                    <i class="fa fas fa-calendar mr-3 fa-2x"></i>
                                    <span>Thời gian: </span>
                                </label>
                            </div>
                            <div class="col-lg-9 input-group">
                                <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00"
                                    id="example-datetime-local-input" />

                                <!-- <div class="valid-feedback">Phù hợp !</div> -->
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label class="control-label text-uppercase font-weight-bold d-flex align-items-center">
                                    <i class="fa fas fa-calendar mr-3 fa-2x"></i><span>Số lượng bưu kiện:</span>
                                </label>
                            </div>
                            <div class="col-lg-9 input-group">
                                <button class="btn btn-outline-primary" type="button" data-toggle="collapse"
                                    data-target="#collapseExample" aria-expanded="false"
                                    aria-controls="collapseExample">
                                    chọn loại xe phù hợp với bưu kiện
                                </button>
                                <div class="collapse w-100 mt-3" id="collapseExample">
                                    <div class="card card-body">
                                        <ul class="list-inline d-flex justify-content-around typeCar">
                                            <li class="list-inline-item  shadow bg-white rounded">
                                                <i class="fa fa-motorcycle fa-3x mb-1"></i>
                                                <span>xe máy</span>
                                            </li>
                                            <li class="list-inline-item  shadow bg-white rounded">
                                                <i class="fa fa-motorcycle fa-3x mb-1"></i><span>cốp xe</span>
                                            </li>
                                            <li class="list-inline-item  shadow bg-white rounded">
                                                <i class="fa fa-motorcycle fa-3x mb-1"></i><span>bán tải</span>
                                            </li>
                                            <li class="list-inline-item  shadow bg-white rounded">
                                                <i class="fa fa-motorcycle fa-3x mb-1"></i><span>xe tải</span>
                                            </li>
                                            <li class="list-inline-item  shadow bg-white rounded">
                                                <i class="fa fa-motorcycle fa-3x mb-1"></i><span>nhiều xe tải</span>
                                            </li>
                                        </ul>
                                        <style>
                                            .typeCar li {
                                                text-align: center;
                                                display: flex;
                                                flex-direction: column;
                                                justify-content: center;
                                                padding: 20px;
                                                width: 95px;
                                                margin: 0 !important;
                                                align-content: center;
                                            }

                                            .typeCar li span {
                                                text-transform: capitalize;
                                            }
                                        </style>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class=" card-footer text-xl-right bg-transparent">
                        <button class="btn btn-primary nextBtn pull-right btn-sm" type="button">
                            Tiếp tục
                        </button>
                    </div>
                </div>

                <div class=" card" id="step-2">
                    <div class=" card-header"></div>
                    <div class=" card-body">
                        <div class=" card-footer text-xl-right bg-transparent">
                            <button class="btn btn-primary nextBtn pull-right btn-sm" type="button">
                                Tiếp tục
                            </button>
                        </div>
                    </div>
                </div>

                <div class=" card" id="step-3">
                    <div class=" card-header"></div>
                    <div class=" card-body">
                        <div class=" card-footer text-xl-right bg-transparent">
                            <button class="btn btn-primary nextBtn pull-right btn-sm" type="button">
                                Tiếp tục
                            </button>
                        </div>
                    </div>
                </div>

                <div class=" card" id="step-4">
                    <div class=" card-header"></div>
                    <div class=" card-body">
                        <div class=" card-footer text-xl-right bg-transparent">
                            <button class="btn btn-success nextBtn pull-right btn-sm" type="submit">
                                Tiếp tục
                            </button>
                        </div>
                    </div>
                </div>



            </form>
        </div>
    </div>
</section>

<style class="CreateOrder"></style>

<script>
    $(() =>
        $(".CreateOrder").load("./component/Main/CreateOrder/style.module.css")
    );
</script>
<script src="./component/Main/CreateOrder/script.module.js"></script>